@import 'base/maps';
@import 'base/fonts';
@import 'base/mixins';
@import "componentes/0body";
@import 'componentes/1header';
@import 'componentes/2carrusel';
@import 'componentes/3conocenos';
@import 'componentes/4astrologia';
@import 'componentes/5contacto';
@import 'componentes/6footer';
@import "componentes/mediaque";
@import "componentes/8iconos";
@import "componentes/logo";
@import "componentes/servicios";

