
$redesSociales: (
    color: rgb(24, 23, 22),
    colorhover:  #BF8D7A,
    
    fondo: url("https://ibb.co/NZK1bsC"),
    transparencia: 0.5,
    
    disp: flex,
    justificacion:center,

    espacios: 20px 0px, 
    espacioletras:50px,
    ancho:100%,

    duraciondetrans: 0.3s,

);
    
