
$redesSociales: (
    color: rgb(251, 241, 221),
    colorhover:  #BF8D7A,
    
    fondo: url(../Img/fondos/Footer.png),
    transparencia: 0.5,
    
    disp: flex,
    justificacion:center,

    espacios: 20px 0px, 
    espacioletras:50px,
    ancho:100%,

    duraciondetrans: 0.3s,

);
    
