@import '../base/fonts';

/*Header*/

header {
    background-image: url("../Img/fondos/noisy-texture-300x300-o9-d17-c-d9d9d9-t0.png");
    opacity: 0.8;
    display: flex;
    position: relative;
    z-index: 5;
    flex-wrap: wrap;
    
    @include parametros (100%, 5em);     
    

    .menu {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        .menu-container {
            display: flex;
            justify-content: flex-end;
            gap: 5rem;
            flex-wrap: nowrap;
            
            li {
                text-decoration: none;
                list-style: none;


                .menu-items {
                    text-decoration: none;
                    color: black;
                    text-decoration: none;
                    font-size:17px;
                    font-family: $fonts-raleway;
                    text-transform: uppercase;

                    &:hover {
                    @include colorhover;
                    }

                }
            }
        }

    }
}
