
/*Carrusel*/
.mi-css {
    background-image: url(../Img/fondos/noisy-texture-300x300-o9-d19-c-BF8D7A-t0.png);
    top: 100vh;
    z-index: 2;
    position: relative;
}

.text-Carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
