/*Seccion Astrologia*/
@import '../base/fonts';

#astrologia {
    background-image: url("../Img/fondos/noisy-texture-300x300-o9-d19-c-857b7b-t0.png");
    top: 100vh;
    z-index: 5;
    position: relative;


    .grid-container {
        position: static;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        padding: 4rem 0;
        justify-items: center;

        @include parametros (100%, auto);

        .grid-item {
            align-self: center;
            cursor: pointer;
            display: grid;
            justify-items: center;
        }

        img {
            width: 70%;
        }
    }

}