/*Logo*/
.logo {
    --text-color: #c0bfbc;
    position: relative;

    a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:nth-child(1) {
            // top triangle
            -webkit-clip-path: polygon(0 0, 100% 0, 50% 50%);
            clip-path: polygon(0 0, 100% 0, 50% 50%);
        }

        &:nth-child(2) {
            // right triangle
            -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
            clip-path: polygon(100% 0, 100% 100%, 50% 50%);
        }

        &:nth-child(3) {
            // bottom triangle
            -webkit-clip-path: polygon(0 100%, 50% 50%, 100% 100%);
            clip-path: polygon(0 100%, 50% 50%, 100% 100%);
        }

        &:nth-child(4) {
            // left triangle
            -webkit-clip-path: polygon(0 0, 50% 50%, 0 100%);
            clip-path: polygon(0 0, 50% 50%, 0 100%);
        }

        &:hover {
            -webkit-clip-path: none;
            clip-path: none;
            z-index: 2;
        }

        &:nth-child(1):hover~.fill-text {
            // top triangle

            &:before {
                --fill-from: circle(0% at 50% 0%);
                --fill-to: circle(150% at 0% 50%);
                animation: fill-text 1s forwards;
            }

            &:after {
                --hover-text: "Bienvenidos";
            }
        }

        &:nth-child(2):hover~.fill-text {
            // right triangle

            &:before {
                --fill-from: circle(0% at 150% 50%);
                --fill-to: circle(100% at 50% 50%);
                animation: fill-text 1s forwards;
            }

            &:after {
                --hover-text: "Bienvenidos";
            }
        }

        &:nth-child(3):hover~.fill-text {
            // bottom triangle

            &:before {
                --fill-from: circle(0% at 50% 100%);
                --fill-to: circle(150% at 0% 50%);
                animation: fill-text 1s forwards;
            }

            &:after {
                --hover-text: "Bienvenidos";
            }
        }

        &:nth-child(4):hover~.fill-text {
            // left triangle

            &:before {
                --fill-from: circle(0% at 0% 50%);
                --fill-to: circle(150% at 0% 50%);
                animation: fill-text 1s forwards;
            }

            &:after {
                --hover-text: "Bienvenidos";
            }
        }
    }
}

@keyframes fill-text {
    0% {
        clip-path: var(--fill-from);
    }

    100% {
        clip-path: var(--fill-to);
        color: black;
    }
}

.fill-text {
    color: #c0bfbc;
    -webkit-text-stroke: 1px var(--text-color);
    font-size: 20vw;
    font-family: 'Playfair Display';

    &:before {
        content: attr(data-text);
        position: absolute;
    }

    &:after {
        content: var(--hover-text);
        -webkit-text-stroke: initial;
        font: 2vw/1.5 'Raleway', sans-serif;
        color: #999;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
        white-space: nowrap;
    }
}

.section {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    clip: rect(0, auto, auto, 0);
}

.fixed {
    position: absolute;
    top:50%;
    right:30%;
}